<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Badass TodoList</title>
  <meta name="description" content="Discover the inner badassness in you by doing.">
  <meta name="author" content="Pedro Fernandes">

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
  <div class="content">
    {{template "navigation" .}}
    
   <div class="col-md-offset-4 col-lg-4 col-md-offset-4">
      <div class="container-fluid">
        <hr>